{% extends "admin/change_list.html" %}
{% load i18n %}

{% block search %} 
    <div class="search-box">
        <h2>{% trans 'Pesquisar' %}</h2>
        <div class="search-form">
            <form method="get" action="" id="changelist-search">
                <input type="text" name="{{ search_var }}" value="{{ search_term }}"  placeholder="{% trans 'Digite um termo de pesquisa' %}">
                <input type="submit" value="{% trans 'Pesquisar' %}">
            </form>
        </div>
    </div>
{% endblock %}